html {
    position: relative;
}

body {
    margin-bottom: 80px;
    background: rgba(144, 238, 144, 0.527);
}

.jumbotron {
    background: forestgreen;
    color: yellow;
    background-image: url("../images/timbersarmy.jpg");
    background-size: 100%;
    size: 200%;
}

.navbar{
    background: lightyellow;
}
